/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
} */

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.nav--bar {
    position: absolute;
    display: flex;
    align-content: space-between;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    z-index: 10;
}

.logo {
    height: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

.section {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: transparent;
    color: black;
    z-index: 1;
    pointer-events: none;
}

.h1 {
    margin-left: 5%;
    font-size: 10rem;
    line-height: 8rem;
}

.button--navbar {
    background: black;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    margin-right: 40px;
}

#threepipe-canvas {
    width: 100%;
    height: 100%;
}
#threepipe-canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
